doctype html
html
  head
    meta(charset = "UTF-8")
    link(rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous")
    link(rel="stylesheet" href="/public/styles/style.css")
    title 記事一覧
  body
    h1 記事一覧

    ul
      each article in articles
        li
          a(href = "/articles/#{article.id}") #{article.title}