doctype html
html
  head
    meta(charset = "UTF-8")
    block head
      title Share　'O' ツ
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  body
   .navbar.navbar-inverse.navbar-static-top
    .container
      .navbar-header
        a.navbar-brand(href = "/") Share 'O' ツ
   .container
    block content