extends layout.pug

block head
    title 新規記事作成

block content
  .page-header
    h1 新規記事作成

    
  form(action = "/articles" method = "post")
    .form-group
      input(type = "text", name = "title")
    .form-group
      textarea(name = "body" form = 10)
    .form-group
      input.btn.btn-primary.btn-block(type = "submit", value = "作成")